---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const allPosts = Object.values(import.meta.glob('../posts/*.md', {eager: true}));
---
<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <p>Written by {frontmatter.author}</p>
    <p>Pub date: {frontmatter.pubDate.toString().slice(0,10)}</p>
      <div class="tags">
        {frontmatter.tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
        </div>
    <slot />
</BaseLayout>
